<div class="row">
<h3>Data Carpentry</h3>

  <div class="col-md-6">
     <h3 id="syllabus-intro-R">Introduction to R</h3>
     <ul>
       <li>R and R Studio</li>
       <li>Reproducibility in R</li>
      </ul>
   </div>

   <div class="col-md-6">
     <h3 id="syllabus-starting-data">Starting with data in R</h3>
     <ul>
       <li>Describe what a data frame is.</li>
       <li>Load external data from a .csv file into a data frame in R.</li>
       <li>Summarize the contents of a data frame in R.</li>
       <li>Manipulate categorical data in R.</li>
       <li>Change how character strings are handled in a data frame.</li>
       <li>Format dates in R</li>
     </ul>
   </div>
 </div>
